/* Everforest Dark Medium Theme */

@define-color bg_dim #232A2E;
@define-color bg0 #2D353B;
@define-color bg1 #343F44;
@define-color bg2 #3D484D;
@define-color bg3 #475258;
@define-color bg4 #4F585E;
@define-color bg5 #56635f;
@define-color bg_visual #543A48;
@define-color bg_red #514045;
@define-color bg_yellow #4D4C43;
@define-color bg_green #425047;
@define-color bg_blue #3A515D;

@define-color fg #D3C6AA;
@define-color red #E67E80;
@define-color orange #E69875;
@define-color yellow #DBBC7F;
@define-color green #A7C080;
@define-color aqua #83C092;
@define-color blue #7FBBB3;
@define-color purple #D699B6;
@define-color grey0 #7A8478;
@define-color grey1 #859289;
@define-color grey2 #9DA9A0;

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @bg2;
}

.notification-row {
  outline: none;
  margin: 6px;
  padding: 0;
}

.notification {
  background: @bg1;
  border-radius: 12px;
  margin: 0px;
  border: none;
  padding: 0px;
}

.notification-content {
  background: transparent;
  padding: 10px;
  border-radius: 10px;
}

.close-button {
  background: @surface2;
  color: @text;
  text-shadow: none;
  padding: 0;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @red;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @bg2;
  border: 1px solid @bg3;
  color: @fg1;
  transition: all 0.15s ease-in-out;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @bg3;
}

.notification-default-action {
  border-radius: 10px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-bottom: none;
}

/* Last action */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
  background: @bg1;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  background: @bg1;
}

.summary {
  font-size: 16px;
  margin: 5px 0 0 0;
  color: @fg0;
  text-shadow: none;
}

.time {
  font-size: 12px;
  margin: 5px 0 0 0;
  color: @gray;
  text-shadow: none;
  margin-right: 24px;
}

.body {
  font-size: 14px;
  margin: 5px 0 0 0;
  color: @fg1;
  text-shadow: none;
}

.control-center {
  background: @bg0_h;
  border: none;
  border-radius: 12px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

/* Window background */
.blank-window {
  background: alpha(@bg0, 0.5);
}

/* Title widget */
.widget-title {
  color: @fg0;
  margin: 10px 10px 5px 10px;
  font-size: 1.5rem;
}

.widget-title>button {
  font-size: 1rem;
  color: @fg1;
  text-shadow: none;
  background: @bg2;
  box-shadow: none;
  border-radius: 10px;
  border: 1px solid @bg3;
  padding: 5px 10px;
}

.widget-title>button:hover {
  background: @bg3;
  color: @fg0;
}

/* DND widget */
.widget-dnd {
  margin: 10px;
  font-size: 1.1rem;
}

.widget-dnd>switch {
  font-size: initial;
  border-radius: 10px;
  background: @bg2;
  border: 1px solid @bg3;
  box-shadow: none;
}

.widget-dnd>switch:checked {
  background: @yellow;
}

.widget-dnd>switch slider {
  background: @fg1;
  border-radius: 10px;
}

/* Label widget */
.widget-label {
  margin: 10px;
}

.widget-label>label {
  font-size: 1.1rem;
  color: @fg1;
}

/* Mpris widget */
.widget-mpris {
  color: @fg1;
  background: @bg1;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid @bg2;
}

.widget-mpris>box>button {
  border-radius: 10px;
}

/* Volume and Backlight widgets */
.widget-volume,
.widget-backlight {
  background: @bg1;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid @bg2;
  color: @fg1;
}

.widget-volume>box>button {
  background: @bg2;
  border: none;
}

.per-app-volume {
  background-color: @bg0;
  padding: 4px 8px 8px 8px;
  margin: 0px 8px 8px 8px;
  border-radius: 10px;
}